@model StudentDetailsViewModel
@{
    ViewData["Title"] = "ApplicationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pb-2
              mb-3
              border-bottom
            ">
    <h1 class="h2">Applicant Summary</h1>  
    @*<a href="@Url.Action("JobApplications", "Job", new { Id = 1})"class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>  back
    </a>*@
</div>
@if (Model.StudentDetails != null)
{
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="@Model.StudentDetails.image_url"
                 alt="..."
                 class="img-thumbnail" />
        </div>
        <div class="col-lg-9">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="card-title">Applicant Details & Skils</h4>
                        </div>
                        <div class="col-lg-6 float-right">
                           
                            <a href="@Model.StudentDetails.linkedin_url" target="_blank">
                                <img src="~/images/logos/in.png"
                                     alt="fblogo"
                                     width="40px;"
                                     class="img-fluid p-1" />
                            </a>
                            <a href="@Model.StudentDetails.github_url" target="_blank">
                                <img src="~/images/logos/github.png"
                                     alt="fblogo"
                                     width="40px;"
                                     class="img-fluid p-1" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>@Model.StudentDetails.Student.name</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.StudentDetails.Student.email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            @foreach (var item in Model.Skills)
                            {
                                 <span class="badge badge-primary ml-1 shadow-lg"
                                  style="min-width: 3rem">@item</span>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h6 for="">Highest Qualifications</h6>
            <div class="col">
                <div class="row">
                    <div class="alert alert-primary ml-1" role="alert">
                        @Model.StudentDetails.highest_qualification
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <h6 for="">Description</h6>
                <textarea class="form-control shadow-md"
                          name="" disabled
                          id="" asp-for="StudentDetails.about"
                          rows="4"></textarea>
            </div>
        </div>
    </div>
</div>

}
else
{
    <p>No Record Found!</p>
}