@model IEnumerable<NIBM_Job_Portal.Models.Job>

@section scripts{
    <script src="@Url.Content("~/js/sideBar.js")" type="text/javascript"></script>
    <script>
        changeSideBarButtonStatus("sidebar_job");
    </script>
}


@{
    ViewData["Title"] = "Job";
}

<div class="
              d-flex
              justify-content-left
              flex-wrap flex-md-nowrap
              align-items-center
              pb-2
              mb-3
              border-bottom
            ">
    <h2 class="h2">Job List</h2>
</div>

<div class="container" style="margin-left: 0px">
    <a class="btn btn-sm btn-primary mb-1" asp-area="" asp-controller="Job" asp-action="Create"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Post new Job</a>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Positions</th>
                <th>Category</th>
                <th>Company</th>
                <th>Closing Date</th>
                <th>No of Application</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Position</td>
                        <td>@item.JobCategory.Name</td> 
                        <td>@item.Company.Company_Name</td>
                        <td>@item.ClosingDate.ToShortDateString()</td>
                        <td class="text-center"> <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg">  <i class="fa fa-eye" aria-hidden="true"></i></button></td>

                        <td>
                            <div class="row">
                                <a class="btn btn-sm btn-primary m-1" href="@Url.Action("Create", "Job", new { Id = @item.Id })"> <i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                @*<button id="btn_delete" class="btn btn-sm btn-danger m-1" href="@Url.Action("Delete", "Job", new { Id = @item.Id })" >  <i class="fa fa-times-circle" aria-hidden="true"></i></button>*@
                                <button  class="btn btn-sm btn-danger m-1" onclick="DeleteData(@item.Id)">  <i class="fa fa-times-circle" aria-hidden="true"></i></button>

                            </div>
                        </td>
                    </tr> 

                }
            }
            else
            {
                <tr>
                    <td colspan="7">No record found!</td> 
                </tr>
            }
            @*<tr>
                    <td>1</td>
                    <td>Lorem, ipsum.</td>
                    <td>Lorem ipsum dolor sit.</td>
                    <td class="text-center"> <button class="btn btn-sm btn-outline-primary"> 2 <i class="fa fa-eye" aria-hidden="true"></i></button></td>
                    <td>
                        <div class="row">
                            <button class="btn btn-sm btn-primary m-1"> <i class="fa fa-pencil-square" aria-hidden="true"></i> </button>
                            <button class="btn btn-sm btn-danger m-1"> <i class="fa fa-times-circle" aria-hidden="true"></i> </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lorem, ipsum.</td>
                    <td>Lorem ipsum dolor sit.</td>
                    <td class="text-center"> <button class="btn btn-sm btn-outline-primary"> 2 <i class="fa fa-eye" aria-hidden="true"></i></button></td>
                    <td>
                        <div class="row">
                            <a class="btn btn-sm btn-primary m-1" asp-area="" asp-controller="Job" asp-action="Edit"> <i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                            <a class="btn btn-sm btn-danger m-1" asp-area="" asp-controller="Job" asp-action="Index">  <i class="fa fa-times-circle" aria-hidden="true"></i></a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lorem, ipsum.</td>
                    <td>Lorem ipsum dolor sit.</td>
                    <td class="text-center"> <button class="btn btn-sm btn-outline-primary"> 2 <i class="fa fa-eye" aria-hidden="true"></i></button></td>
                    <td>
                        <div class="row">
                            <button class="btn btn-sm btn-primary m-1"> <i class="fa fa-pencil-square" aria-hidden="true"></i> </button>
                            <button class="btn btn-sm btn-danger m-1"> <i class="fa fa-times-circle" aria-hidden="true"></i> </button>
                        </div>
                    </td>
                </tr>*@
        </tbody>
    </table>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Received Application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>  <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>  <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>  <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>  <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>  <div class="col-3">
                        <a target="_blank" href="http://www.orimi.com/pdf-test.pdf">
                            <div class="card">
                                <div class="card-body">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function  DeleteData(id){
      
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '@Url.Action("Delete","Job")',
                        method: 'GET',
                        data: { Id: id },
                        success: function (data) {
                            window.location.reload();
                        }
                        
                    });

                } 
            });



    }


</script>